#header
{
    width:    100%;
    height: 80px;

    background-color: rgb(26, 122, 85);
    padding: 15px;
    z-index: 5px;
}

#input input
{
    width: 100%;
    height: 50px;
    float: left;
    padding-left: 10px;

    background-color: lightgreen;
    border:1px solid black;
}