<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>Introduction</title>
        <style></style>
        <base href="file:///C:/Company/WebProjects/Practice_JS/" />
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
        <h1 id="mainHeading" class="heading"> This is my Introduction </h1>
        <div style="float:left;" >
            <span style="float:left; width:80%">
                <p id="mainText" class="plainText"> 
                        My Name is Prem Kumar. I am currently working as a Software engineer
                        in Cisco handling Cisco Multi Application Framework(CMAF).
                        CMAF is a service oriented framework which is build in QT and helps
                        in managing the life cycle of all the applications.
            
                        My Name is Prem Kumar. I am currently working as a Software engineer
                        in Cisco handling Cisco Multi Application Framework(CMAF).
                        CMAF is a service oriented framework which is build in QT and helps
                        in managing the life cycle of all the applications.
                        My Name is Prem Kumar. I am currently working as a Software engineer
                        in Cisco handling Cisco Multi Application Framework(CMAF).
                        CMAF is a service oriented framework which is build in QT and helps
                        in managing the life cycle of all the applications.
            
                       
                </p>
            </span>
            <span id="image-style">
                <img src="./resources/prem.jpg" alt="Prem Kumar">
            </span>
            
        </div>
        
        <hr/>
        <a name="secondsection" title="Hobbies ">
            <h1 id="mainHeading" class="heading"> Section 2 </h1>>
        </a>
        <p id="mainText" class="plainText">
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing
            This is section 2 about hobbies and everthing

        </p>
</body>
</html>