<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <title>Table Demo</title>
        <style></style>
        <base href="file:///C:/Company/WebProjects/Practice_JS/css/" />
        <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <table border="1">
        <caption>Education Background</caption>
        <thead>
            <tr>
                <th>Class</th>
                <th>Subject</th>
                <th>Score</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">These are my educational expertise</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>B.Tech</td>
                <td>Computer Science</td>
                <td>7.68 CGPA</td>
            </tr>
            <tr>
                <td>12th</td>
                <td>Non-Med</td>
                <td>85%</td>
            </tr>
            <tr>
                <td>10th</td>
                <td>PCM</td>
                <td>82.3%</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>